@model MVCCrudDemo.Models.RegisterUsersModel

@{
    ViewBag.Title = "StudentInfoById";
}
<h2>StudentInfoById</h2>

<h1>FirstName : @Html.DisplayFor(m=>m.FirstName)</h1>
<h1>LastName : @Html.DisplayFor(m=>m.LastName)</h1>
<h1>Address : @Html.DisplayFor(m=>m.Address)</h1>
<h1>City : @Html.DisplayFor(m=>m.City)</h1>

